
@import "tailwindcss";

@theme {
  --default-ring-width: 3px;
  --default-ring-color: var(--color-blue-500);
  --color-background: #13AFA9;
  --color-primary-card: #f5f5f5; 
  --color-border: #0A192F;
  --color-accent: #D4AF37;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #CCD6F6;
  --color-text-tertiary: #555555;


}
:root{
  --color-background: #13AFA9;
  --color-primary-card: #f5f5f5; 
  --color-border: #0A192F;
  --color-accent: #D4AF37;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #CCD6F6;
  --color-text-tertiary: #555555;
  
}
body {
  background-color: ('colors.background');
  color: ('colors.text-primary');
  font-family: 'Inter', sans-serif;
}
.card-customizado {
  background-color: var(--color-primary-card);
  color: var(--color-text-secondary);
  border: 1px solid var(--color-accent);
}
